<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">

<head>
    <title>Cadastro de Disciplinas</title>
</head>

<section layout:fragment="conteudo">
    <div  class="panel panel-default">
        <div class="panel panel-heading">
            <h3>Adicionar Disciplina</h3>
        </div>
        <div class="panel-body">
            <form method="post" action="/disciplina" th:object="${disciplina}">
                <div layout:include="Mensagem"></div>

                <!-- Area de campos do form -->
                <input type="hidden" th:field="*{id}"/>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="nome">Nome da Disciplina</label>
                        <input type="text" class="form-control" id="nome" th:field="*{nome}"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="descricao">Descrição</label>
                        <select class="form-control" id="descricao" th:field="*{descricao}">
                            <option value="teorica">Teorica</option>
                            <option value="pratica">Prática</option>
                        </select>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="codigo">Código da Disciplina</label>
                        <input type="text" class="form-control" id="codigo" th:field="*{codigo}"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="semestre">Semestre</label>
                        <input type="text" class="form-control" id="semestre" th:field="*{semestre}"/>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="cargaHoraria">Carga Horária</label>
                        <select class="form-control" id="cargaHoraria" name="cargaHoraria">
                            <option th:each="carga : ${todasCargasHorarias}" th:value="${carga}"
                                    th:text="${carga.descricao}"></option>
                        </select>
                    </div>
                </div>

                <!-- Botões final -->
                <div id="actions" class="row">
                    <div class="col-md-12">
                        <button class="btn btn-success" type="submit">Salvar</button>
                        <a class="btn btn-danger" href="/disciplina/cadastro">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</html>