<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>

    <!-- Tag "charset" especial para o IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- Tag para responsividade... -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estilolocal.css"/>

    <title>Sistema PPC</title>
</head>

<body>
<div class="tituloLogin">
    <h1>Sistema de Gestão do Plano Pedagógico de Cursos</h1>
    <h3>Grupo 2 | Projeto Integrador III</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Acessar Sistema</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Cadastrar no Sistema</a>
                        </div>
                    </div>
                    <hr/>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action="/usuario/login" method="post" role="form" style="display: block;">
                                <div class="alert alert-success" th:if="${!#strings.isEmpty(mensagemSucesso)}">
                                    <span th:text="${mensagemSucesso}">Usuário cadastrado com sucesso!</span>
                                </div>
                                <div class="alert alert-danger" th:if="${!#strings.isEmpty(mensagemErro)}">
                                    <span th:text="${mensagemErro}">Nome de usuário ou senha inválido.</span>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="matricula" id="matricula-login" tabindex="1"
                                           class="form-control" placeholder="Matrícula" value=""/>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password-login" tabindex="2"
                                           class="form-control" placeholder="Senha"/>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                   class="form-control btn btn-login" value="Acessar"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Registrar -->
                            <form id="register-form" action="/usuario/cadastro" method="post" role="form" style="display: none;">
                                <div class="form-group">
                                    <input type="text" name="matricula" id="matricula" tabindex="2"
                                           class="form-control" placeholder="Matrícula"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password-register" tabindex="4"
                                           class="form-control" placeholder="Senha"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirmPassword" id="confirmPassword" tabindex="5"
                                           class="form-control" placeholder="Confirme a Senha"/>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit"
                                                   tabindex="6" class="form-control btn btn-register"
                                                   value="Cadastrar"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script language="JavaScript" type="text/javascript">
    $(function () {

        $('#login-form-link').click(function (e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function (e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
    });
</script>
</body>
</html>