<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">

<head>
    <title>Consultar Disciplinas</title>
</head>
<section layout:fragment="conteudo">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Consultar Disciplinas</h1>
        </div>
        <div class="panel-body">
            <div class="table-responsive" id="tblPesquisaDisciplinas">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center col-md-1">#</th>
                        <th class="text-center col-md-2">Nome da Disciplina</th>
                        <th class="text-center col-md-2">Descrição</th>
                        <th class="text-center col-md-2">Código da Disciplina</th>
                        <th class="text-center col-md-2">Semestre</th>
                        <th class="text-center col-md-2">Carga Horária</th>
                        <th class="text-center col-md-2">Funções</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="disciplina : ${todasDisciplinas}">
                        <td class="text-center" th:text="${disciplina.id}"></td>
                        <td class="text-left" th:text="${disciplina.nome}"></td>
                        <td class="text-center" th:text="${{disciplina.descricao}}"></td>
                        <td class="text-center" th:text="${disciplina.codigo}"></td>
                        <td class="text-center" th:text="${disciplina.semestre}"></td>
                        <td class="text-center" th:text="${disciplina.cargaHoraria}"></td>
                        <td class="text-center">
                            <a class="btn btn-link btn-xs" th:href="@{/disciplina/pesquisa/{id}(id=${disciplina.id})}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" th:if="${#lists.isEmpty(todasDisciplinas)}">Nenhuma disciplina foi localizada.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</html>