<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">

<head>
    <title>Consulta Professores</title>
</head>
<section layout:fragment="conteudo">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Consultar Professores</h1>
        </div>
        <div class="panel-body">
            <div class="table-responsive" id="tblPesquisaProfessor">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center col-md-1">Matrícula</th>
                        <th class="text-center col-md-2">Nome</th>
                        <th class="text-center col-md-2">Cpf</th>
                        <th class="text-center col-md-2">Maior Titulação</th>
                        <th class="text-center col-md-2">Área de Formação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="professor : ${todosProfessores}">
                        <td class="text-center" th:text="${professor.id}"></td>
                        <td class="text-center" th:text="${professor.nome}"></td>
                        <td class="text-center" th:text="${{professor.cpf}}"></td>
                        <td class="text-center" th:text="${professor.maiorTitulacao}"></td>
                        <td class="text-center" th:text="${professor.areaFormacao}"></td>
                    </tr>
                    <tr>
                        <td colspan="6" th:if="${#lists.isEmpty(todosProfessores)}">Nenhum professor foi localizado.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</html>
