<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">

<head>
    <title>Consultar Cursos</title>
</head>
<section layout:fragment="conteudo">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Consultar Cursos</h1>
        </div>
        <div class="panel-body">
            <div class="table-responsive" id="tblPesquisaDisciplinas">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center col-md-1">#</th>
                        <th class="text-center col-md-2">Tipo de Curso</th>
                        <th class="text-center col-md-2">Modalidade</th>
                        <th class="text-center col-md-2">Denominação</th>
                        <th class="text-center col-md-2">Habilitação</th>
                        <th class="text-center col-md-2">Local da Oferta</th>
                        <th class="text-center col-md-2">Turnos</th>
                        <th class="text-center col-md-2">Número de Vagas</th>
                        <th class="text-center col-md-2">Carga Horária</th>
                        <th class="text-center col-md-2">Regime Letivo</th>
                        <th class="text-center col-md-2">Períodos</th>
                        <th class="text-center col-md-2">Funções</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="curso : ${todosCursos}">
                        <td class="text-center" th:text="${curso.id}"></td>
                        <td class="text-left" th:text="${curso.tipo}"></td>
                        <td class="text-center" th:text="${curso.modalidade}"></td>
                        <td class="text-center" th:text="${curso.denominacao}"></td>
                        <td class="text-center" th:text="${curso.habilitacao}"></td>
                        <td class="text-center" th:text="${curso.localOferta}"></td>
                        <td class="text-center" th:text="${curso.turnos}"></td>
                        <td class="text-center" th:text="${curso.qntVagas}"></td>
                        <td class="text-center" th:text="${curso.cargaHoraria}"></td>
                        <td class="text-center" th:text="${curso.regimeLetivo}"></td>
                        <td class="text-center" th:text="${curso.periodo}"></td>
                        <td class="text-center">
                            <a class="btn btn-link btn-xs" th:href="@{/curso/pesquisa/{id}(id=${curso.id})}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="11" th:if="${#lists.isEmpty(todosCursos)}">Nenhum curso foi localizado.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</html>